@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
.footer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b3d4a6;
}
.nav-links {
  margin-top: -3px;
  margin-left: 4px;
}
.nav-links :not(:last-child)::after {
  content: " ·";
  font-weight: 700;
  color: black;
  font-size: 20px;
}
a {
  color: #6cbc54;
  text-decoration: none;
}

@media (max-width: 640px) {
  .footer-body {
    flex-direction: column;
  }
  p {
    font-size: 13px;
  }
  a {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
}
