<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilos/main.css" />
    <title>Document</title>
  </head>
  <body class="main-body">
    <h3 class="login">LOGIN</h3>
    <div class="card">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="email or username"
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <a href="">forgot?</a>
      <button>sign in</button>
      <div class="terms-container">
        <p class="terms">
          By signing in to Discoins, you agree to our <strong>Terms</strong> and
          <strong>Privacy Policy</strong>
        </p>
      </div>
      <span class="or">or</span>
      <div class="redes">
        <button>
          <span class="facebok"><strong>facebook</strong></span>
        </button>
        <button>Google</button>
      </div>
    </div>
  </body>
</html>
