<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilos/navbar.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.2.0/css/all.css"
    />
    <title>Document</title>
  </head>
  <body class="navbar-body">
    <a href="" class="logo">
      <img src="../assets/img/logo.PNG" alt="Logo" />
    </a>
    <nav class="nav">
      <ul class="nav-links">
        <li><a href="">Watch</a></li>
        <li><a href="">Share</a></li>
        <li><a href="">Rewards</a></li>
        <li>
          <a href="" class="btn"><button>Join or Log in</button></a>
        </li>
      </ul>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
    </nav>
  </body>
</html>
